.current-movie {
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 10px;
  background: black;
  color:white;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.inner-poster-img {
  width: 30%;
  height: auto;
  border-radius: 0.5em;
}

.close-movie {
  color: white;
  position: absolute;
  right: 17px;
  
}

.close-movie:hover {
  background-color: rgba(25, 248, 103, 0.2);
}