.search-bar-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 5px;
}

.search-button {
  font-size: 1rem;
  border-radius: 4px;
}

.search-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 11px white;
  transform: translateY(+0.08em);
  height: 30px;
}

.search-input {
  height: 24px;
  font-size: 1.2rem;
  font-family: 'PT Serif', serif;
}

@media only screen and (max-width: 500px) {
  .search-bar-form {
    justify-content: center;
    width: 100vw;
  }
  .search-input {
    width: 100%;
  }
}
