.movies-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.movie-card-btn {
  border: none;
  border-radius: 0.5em;
  box-shadow: none;
}

.movie-card-btn:hover,
.movie-card-btn:focus {
  box-shadow: 0 0 11px rgba(25, 248, 103, 0.2);
  transform: translateY(-0.25em);
}
